@use 'theme-colors' as theme;
:host {
  width: 100%;
  .item-total-card {
    background-color: theme.$light-bg;
    padding: 1rem;
    border-radius: 8px;

    div.totals-row > div {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      padding: 0.2rem 0;
      &:last-of-type {
        margin-top: 0.8rem;
        padding-top: 0.8rem;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        border-top: 1px solid theme.$dark-bg;
      }
    }
  }
}
