<div class="item-total-card">
  <div>
    <div class="totals-row">
      <span>Subtotal</span>
      <span>{{ $total() | number: '1.2-2' }}</span>
    </div>
    <div class="totals-row">
      <span>Tax</span>
      <span>{{ $tax() | number: '1.2-2' }}</span>
    </div>
    <div class="totals-row">
      <span>Shipping</span>
      @if (typeof $shipping() === 'number') {
        {{ $shipping() | number: '1.2-2' }}
      } @else {
        {{ $shipping() }}
      }
    </div>
    <div class="totals-row">
      <span>Total</span>
      <span>{{ $total() | currency: 'USD' : 'symbol' : '1.2-2' }}</span>
    </div>
  </div>
  <ng-content>
    <button
      type="button"
      matButton="filled"
      color="primary"
      class="cta-button"
      [disabled]="$actionDisabled()"
      (click)="$actionEmission.emit()"
    >
      {{ $actionText() }}
    </button>
  </ng-content>
</div>
