<div>
  <h2>Checkout</h2>
  <mat-icon>shopping_cart_checkout</mat-icon>
</div>

<mat-tab-group [animationDuration]="'0ms'" [(selectedIndex)]="$selectedMatTabIndex">
  <mat-tab label="Review items">
    <ng-template matTabContent>
      <app-review-items
        [$items]="$cart()"
        [$form]="form.controls.orderItems"
        (submitEmission)="$selectedMatTabIndex.set(1)"
      />
    </ng-template>
  </mat-tab>
  <mat-tab label="Shipping">
    <ng-template matTabContent>
      <app-shipping-form
        [$countries]="euCountries"
        [$methods]="shippingMethods"
        [$form]="form.controls.shipping"
        (submitEmission)="$selectedMatTabIndex.set(2)"
      />
    </ng-template>
  </mat-tab>
  <mat-tab label="Payment" [disabled]="!$isShippingFormValid()">
    <ng-template matTabContent>
      <app-payment-form
        [$methods]="paymentMethods"
        [$form]="form.controls.payment"
        [$submitDisabled]="$loading()"
        (submitEmission)="submitOrder()"
      />
    </ng-template>
  </mat-tab>
</mat-tab-group>
