@let product = $product();
<div>
  <h1>Product details</h1>

  <div>
    <mat-chip aria-live="polite">Quantity in cart: {{ $quantityInCart() }} </mat-chip>

    @if ($isAdmin()) {
      <button type="button" matButton="filled" [routerLink]="prodEditPath + $productId()">
        Edit product
      </button>
    }
  </div>
</div>
@if (product; as p) {
  <section class="product-details-container">
    <div class="card">
      <div class="card-body">
        <div>
          <img [src]="p.svgType + '.svg'" [alt]="p.svgType + ' icon'" />
        </div>
        <div class="product-main-info">
          <h2>{{ p.name }}</h2>
          <div class="product-categories">
            @if (p.categories?.length) {
              <mat-chip-listbox>
                @for (cat of p.categories; track cat) {
                  <mat-chip>{{ cat.name }}</mat-chip>
                }
              </mat-chip-listbox>
            }
          </div>
          <div class="product-price">
            <span class="price">{{ p.price | currency: 'EUR' : 'symbol' : '1.2-2' }}</span>
            <span class="stock" [class]="{ 'out-of-stock': !p.stock }">
              {{ p.stock ? p.stock + ' in stock' : 'Out of stock' }}
            </span>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="product-description">
        <h2>Description</h2>
        <p>{{ p.description || 'No description available.' }}</p>
      </div>
      <div>
        <button
          type="button"
          matButton="filled"
          (click)="addToCart(p)"
          [disabled]="$disableAddToCart()"
        >
          <mat-icon>add_shopping_cart</mat-icon>
          Add to Cart
        </button>
      </div>
    </div>
  </section>
} @else {
  <!-- TODO add skeleton -->
  <h2 class="loading">Loading product...</h2>
}
