<div class="product-card" [class.in-cart]="$isInCart()">
  <a
    [attr.aria-label]="'View details for ' + $product()?.name"
    [routerLink]="prodDetailsPath + $product()?.id"
  >
    <div class="product-body">
      <img [src]="$product()?.svgType + '.svg'" [alt]="$product()?.svgType + ' icon'" />

      <div>
        <h2>{{ $product()?.name }}</h2>
        <div class="product-price">
          <span>{{ $product()?.price | currency }}</span>
        </div>
      </div>
    </div>
  </a>
</div>
