@use 'mixin' as mixin;
:host {
  @include mixin.flex-column-fill();
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 1rem;

  div:has(h3) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button.cta-button {
    @include mixin.cta-button();
    width: 100%;
  }
}
