<form [formGroup]="$form()">
  <div>
    <mat-form-field>
      <mat-label>Payment method</mat-label>
      <mat-select formControlName="method" required>
        @for (method of $methods(); track method) {
          <mat-option [value]="method">
            {{ method }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Intent ID</mat-label>
      <input matInput formControlName="stripePaymentIntentId" required />
      @if ($form().get('stripePaymentIntentId')?.hasError('required')) {
        <mat-error>Intent id required</mat-error>
      }
    </mat-form-field>
  </div>
  @if ($submitDisabled()) {
    <mat-spinner aria-label="Processing your order"></mat-spinner>
  }
  <app-item-total [class.submitting]="$submitDisabled()">
    <button
      matButton="filled"
      class="cta-button"
      type="submit"
      (click)="submitEmission.emit()"
      [disabled]="!$form().valid || $submitDisabled()"
    >
      Confirm order
    </button>
  </app-item-total>
</form>
