@use 'mixin' as mixin;

:host {
  height: 100%;
  box-sizing: border-box;
  padding: 2rem 0 1rem 0;
  @include mixin.flex-column-fill();
  form {
    @include mixin.flex-column-fill();
    div:has(mat-form-field) {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  .submitting {
    opacity: 0.8;
  }

  button.cta-button {
    @include mixin.cta-button();
    width: 100%;
  }
}
