<form [formGroup]="$form()">
  <div #paymentElement class="payment-element"></div>

  @if ($submitDisabled() || $stripeLoading()) {
    <mat-spinner aria-label="Processing your order"></mat-spinner>
  }
  <app-item-total [class.submitting]="$submitDisabled()">
    <button
      matButton="filled"
      class="cta-button"
      type="submit"
      (click)="confirmPayment()"
      [disabled]="$submitDisabled() || !$paymentInputComplete() || $stripeLoading()"
    >
      Confirm order
    </button>
  </app-item-total>
</form>
