@use 'mixin' as mixin;

:host {
  height: 100%;
  box-sizing: border-box;
  padding: 2rem 0 1rem 0;
  @include mixin.flex-column-fill();
  form {
    @include mixin.flex-column-fill();
    .payment-element {
      width: 100%;
    }
  }

  button.cta-button {
    @include mixin.cta-button();
    width: 100%;
  }
}
