<div class="products-view-container">
  <div class="title">
    <h1>Products</h1>
    @if ($isAdmin()) {
      <button type="button" matButton="filled" routerLink="/products/create">Create product</button>
    }
  </div>

  <div class="scroll-container">
    <div class="filters-container">
      <app-products-filters (queryEvent)="queryProducts$.next($event)" />
    </div>
    <div class="products-list-container">
      <app-products-list [$products]="products$ | async" />
    </div>
  </div>
</div>
