@use 'theme-colors' as theme;
@use '@angular/material' as mat;
@mixin material-overrides() {
  .mat-icon.success {
    @include mat.icon-overrides(
      (
        color: theme.$success-color,
      )
    );
  }
  .mat-icon.error {
    @include mat.icon-overrides(
      (
        color: theme.$error-color,
      )
    );
  }

  .mat-icon.warn {
    @include mat.icon-overrides(
      (
        color: theme.$warn-color,
      )
    );
  }
  @include mat.sidenav-overrides(
    (
      container-background-color: theme.$light-bg,
      container-shape: 0px,
      container-width: 160px,
      scrim-color: transparent,
    )
  );
  @include mat.toolbar-overrides(
    (
      container-background-color: theme.$light-bg,
    )
  );
  @include mat.button-overrides(
    (
      filled-container-shape: 4px,
      outlined-container-shape: 4px,
      protected-container-shape: 4px,
      tonal-container-shape: 4px,
    )
  );
  button.error-btn {
    @include mat.button-overrides(
      (
        filled-container-color: theme.$error-color,
      )
    );
  }

  @include mat.list-overrides(
    (
      active-indicator-shape: 0px,
    )
  );
}

@mixin app-card() {
  width: 100%;
  max-width: 540px;
  padding: 2rem 2rem 1.5rem 2rem;
  border-radius: 20px;
  box-shadow: var(--mat-elevation-shadow-4);
  background: var(--mat-sys-surface, #fff);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@mixin cta-button() {
  font-size: 1.3rem;
  padding: 1.2rem 2.3rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}
