@use 'theme-colors' as theme;
@use 'mixin' as mixin;
:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 0;

  div.card {
    @include mixin.app-card();

    .card-body {
      display: flex;
      gap: 2rem;
      align-items: center;

      img {
        width: 96px;
        height: 96px;
        object-fit: contain;
        background: var(--mat-sys-surface-container-low, #f9f9ff);
        border-radius: 12px;
        padding: 0.5rem;
      }

      div:has(h2) {
        flex: 1;

        h2 {
          font-size: 2rem;
          line-height: 2rem;
          font-weight: 700;
          margin: 0 0 0.8rem 0;
          color: theme.$text-primary;
        }
      }
      div.info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        > div {
          // label
          span:first-of-type {
            font-weight: 600;
            color: theme.$text-secondary;
            margin-right: 0.5rem;
          }
          // value
          span {
            color: theme.$text-tertiary;
          }
        }
      }
    }
  }
}
