<div class="card">
  <div class="card-body">
    <img src="person.svg" alt="User avatar" />

    <div>
      <h2>Welcome back</h2>
      <div class="info">
        <div>
          <span>Email:</span>
          <span>{{ $user()?.email }}</span>
        </div>
        <div>
          <span>Name:</span>
          <span>{{ $user()?.name || '—' }}</span>
        </div>
        <div>
          <span>Address:</span>
          <span>{{ '—' }}</span>
        </div>
        @if ($user()?.isAdmin) {
          <div>
            <span>Role:</span>
            <span> Admin </span>
          </div>
        } @else {
          <div>
            <span>Membership:</span>
            <span> Premium </span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
