<div class="card">
  <div class="card-body">
    <img src="person.svg" alt="User avatar" />

    <div>
      <h2>Welcome back</h2>
      <div class="info">
        <div>
          <span class="label">Email:</span>
          <span class="value">{{ $user()?.email }}</span>
        </div>
        <div>
          <span class="label">Name:</span>
          <span class="value">{{ $user()?.name || '—' }}</span>
        </div>
        <div>
          <span class="label">Address:</span>
          <span class="value">{{ '—' }}</span>
        </div>
        @if ($user()?.isAdmin) {
          <div>
            <span class="label">Role:</span>
            <span class="value"> Admin </span>
          </div>
        } @else {
          <div>
            <span class="label">Membership:</span>
            <span class="value"> Premium </span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
